@charset "utf-8";
/* CSS Document */

body {

}
.wrapper {
	background-image: url(./picture/body.jpg);
	background-size: cover;
	background-position: center;
}
.header {
	height: 3.5rem;
	background-color: #616161e6;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.main {
	background-color: #252525d4;
	height: 90rem;
	color: #FFF;
	display: grid;
	grid-template-columns:1fr 1fr;
}

.footer {
	background-color: #252525d4;
	color: #FFF;
	display: grid;
	grid-template-rows: 8fr 2fr;
}

